<footer>
  <div class="top-footer">
    <nav class="footer-menu">
      <div class="mycontainer">
        <ul>
          <li class="menu" *ngFor="let cat of adminCategories" routerLinkActive="active"
            [routerLink]="[ '/category', cat.alias ]">{{cat.title}}</li>
        </ul>

      </div>
    </nav>
  </div>
  <div class="pay-footer">
    <div class="text">
      We accept all major Credit Card/Debit Card/Internet Banking
    </div>
    <img src="../../../assets/images/Layer_208.png" alt="">
    <img src="../../../assets/images/Layer_209.png" alt="">
    <img src="../../../assets/images/Layer_207.png" alt="">
  </div>
  <div class="about-footer">
    Conditions of Use Privacy Notice © 2019, Booksonline, Inc. or its affiliates
  </div>
</footer>
