
<footer>
    <div class="top-footer">
            <nav class="footer-menu">
                    <div class="mycontainer"> 
                        <ul>
                            <li class="menu" routerLinkActive="active" [routerLink]="[ '/category', 'fiction' ]">Художні</li>
                            <li class="menu" routerLinkActive="active" [routerLink]="[ '/category', 'applied' ]">Прикладні</li>
                            <li class="menu" routerLinkActive="active" [routerLink]="[ '/category', 'children' ]">Для дітей</li>
                            <li class="menu" routerLinkActive="active" [routerLink]="[ '/category', 'educational' ]">Навчальні</li>
                            <li class="menu" routerLinkActive="active" [routerLink]="[ '/category', 'other' ]">Інше</li>
                    
                          </ul>
                
                    </div>
                  </nav>
    </div>
    <div class="pay-footer">
    <div class="text">
      We accept all major Credit Card/Debit Card/Internet Banking 
    </div>
    <img src="../../../assets/images/Layer_208.png" alt="">
    <img src="../../../assets/images/Layer_209.png" alt="">
    <img src="../../../assets/images/Layer_207.png" alt="">
    </div>
    <div class="about-footer">
      Conditions of Use Privacy Notice © 2012-2013, Booksonline, Inc. or its affiliates 
    </div>
</footer>