<header>
  <div class="header-top">
    <div class="mycontainer">
      <span [routerLink]="['/login/my-account']" *ngIf="userLogin">{{userLogin}}</span>
      <a *ngIf="!userLogin" [routerLink]="['/login']">Вхід</a>
      <a *ngIf="!userLogin" [routerLink]="['/login/sign-up']">Зареєструватись</a>
      <a *ngIf="userLogin" (click)="authService.SignOut()">Вихід</a>
      <a *ngIf="userLogin" [routerLink]="['/login/my-account']">Мій акаунт</a>
      <!-- <a href="">Help</a>  -->
    </div>
  </div>
 
  <div class="header-center">
    <div class="mycontainer">
      <div class="wrapper">
        <div class="logo" routerLink="home">
          <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="search">

          <input type="text" [(ngModel)]="searchText" name="searchText">
          <div [routerLink]="[ '/search', searchText ]"><img src="../../../assets/images/Shape_7.png" alt="">
            <span class="searchBtn">Пошук</span>

          </div>

        </div>
        <div class="cart">
          <div class="cartList">
            <div class="items">
              <img src="../../../assets/images/Shape_9.png" alt="">
              Ваш кошик <span>({{count}} товари)</span>
            </div>
            <div class="price">
              {{totalPrice}}₴ <button type="button" [routerLink]="['/orders']" class="btn btn-dark checkout"
                value="">замовити</button>
            </div>
          </div>
          <!-- <div class="wishList">
            <img src="../../../assets/images/Shape_10.png" alt="">
            <div><span>Wish list</span>
              <div>20</div>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>
  <nav class="header-menu">
    <div class="mycontainer">
      <div class="menuIcon" (click)="menu()"><img src="../../../assets/images/menuIcon.png" alt=""></div>
      <div class="ulMenu" [style.display]='ulMenu' [style.height]='ulMenuHeight' (window:resize)="onResize($event)">
        <div *ngFor="let cat of adminCategories" class="menu" routerLinkActive="active"
          [routerLink]="[ '/category', cat.alias ]">{{cat.title}}</div>
      </div>

    </div>
  </nav>
</header>
