$font-SegoeUI: 'SegoeUI';
$font-SegoeWPBold: 'SegoeWPBold';
$font-SegoeWPSemiLight: 'SegoeWPSemiLight';
$font-HelveticaRegular: 'HelveticaRegular';
$color-green: #79b260;

.content {
  padding: 15px 0 25px 0;

}

.breadcrumbs {
  padding-left: 15px;
  height: 29px;
  border: 1px solid #d8dce0;
  border-radius: 5px;
  line-height: 29px;
  color: #a6a6a6;
  font-family: $font-SegoeUI;
  font-size: 14px;
  font-weight: 400;

  a {
    color: #a6a6a6;
    font-family: $font-SegoeUI;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 5px;
  }

  span {
    letter-spacing: -3px;
  }
}

.product {
  margin-top: 9px;
  padding: 28px;
  border: 1px solid #d8dce0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100px;

  .image {
    width: 250px;
    height: 391px;
    margin: 0 3px;

    img {
      height: 391px;
      width: 250px;
    }
  }

  .description {
    margin: 0 40px;

    .title {
      color: #595959;
      font-family: $font-SegoeUI;
      font-size: 41px;
      font-weight: 300;
      text-align: center;
    }

    .text {
      height: 153px;
      color: #7e7e7e;
      font-family: $font-SegoeUI;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      overflow: hidden;
      margin: 25px 0;
    }

    .price {
      padding: 17px 26px;
      min-height: 147px;
      border: 1px solid #d8dce0;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .productPrice {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        .detailPrice {
          width: 300px;
          color: #015699;
          font-family: $font-SegoeUI;
          font-size: 36px;
          font-weight: 400;

          span {
            color: #e45858;
            font-weight: 700;
          }

          div {
            color: #939292;
            font-size: 17px;
            font-weight: 400;
            line-height: 17px;

            s {
              color: blue;
              font-size: 20px;
              margin-left: 5px;
              padding: 0 4px;
            }
          }
        }

        .addBtn {
          width: 270px;
          text-align: right;

          button {
            font-family: $font-HelveticaRegular;
            font-size: 20px;
            width: 220px;
          }
        }
      }

      .card1 {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        height: 44px;
        border: none;
        border-top: 1px solid #d8dce0;

        img {
          margin: 10px;
        }
      }
    }
  }
}

.details {
  margin-top: 10px;

  .tab-content {
    border-left: 1px solid #d8dce0;
    border-right: 1px solid #d8dce0;
    border-bottom: 1px solid #d8dce0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
  }

  .nav-link {
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    color: #6b6969;
    font-family: $font-HelveticaRegular;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

  }

  .active {
    color: #7e7e7e !important;
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

.comment {
  margin-top: 10px;
  border: 1px solid #d8dce0;
  border-radius: 5px;

  .title {
    color: #7e7e7e;
    font-family: $font-HelveticaRegular;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 17px 26px 7px 26px;
  }

  .review {
    margin: 20px 0;
    display: flex;
    flex-direction: row;

    // border-bottom: 1px solid #d8dce0;
    .avatar {
      width: 175px;
      margin: 0 26px;
      text-align: center;

      img {
        width: 63px;
        height: 64px;
      }

      .name {
        width: 100%;
        text-align: center !important;
        color: #a2a2a2;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
      }
    }

    .message {
      width: 100%;
      margin-right: 26px;
      color: #7e7e7e;
      font-family: $font-SegoeUI;
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
    }

  }

  .hr {
    width: 94%;
    margin: 0 auto;
    border-bottom: 1px solid #d8dce0;
  }

  .form {
    margin: 10px 26px;

    .btnR {
      text-align: right;
    }
  }
}

@media screen and (max-width: 957px) {
  .productPrice {
    display: flex;
    flex-wrap: wrap;

    .detailPrice {
      text-align: center;
    }

    .addBtn {
      margin: 4px 0 0 0 !important;
      text-align: center !important;
    }
  }
}

@media screen and (max-width: 670px) {
  .product {
    display: flex;
    flex-wrap: wrap;
  }
}
