<div class="content">
  <!--auth=  https://www.positronx.io/save-user-data-in-local-storage-using-angular-7-firebase/
https://www.positronx.io/full-angular-7-firebase-authentication-system/ -->
  <div class="login">



    <h2>Авторизація</h2>
    <div class="form-group">

      <input type="text" id="mylogin" class="form-control" #userName placeholder="Логін..." required>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Пароль..." #userPassword required>
    </div>

    <!-- Calling SignIn Api from AuthService -->
    <div class="form-group">
      <input type="button" class="btn btn-success btn-block" value="Увійти"
        (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>

    <div class="form-group">
      <div class="or">
        або
      </div>
    </div>

    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-block" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Увійти з допомогою Google
      </button>
    </div>

    <div class="form-group">
      <span class="redirect"  [routerLink]="['/login/forgot-password']">Нагадати пароль?</span>
    </div>


    <div class="form-group">
      <span>Не маєте акаунта?<span class="redirect" [routerLink]="['/login/sign-up']"> Зареєструватись</span></span>
    </div>

  </div>
</div>
