<!-- <p>category works!{{discountId}}</p> -->
<div class="content">
  <div class="filter">
    <form>
      <div class="container-fluid">


        <div class="categories">
          <h2>Категорії</h2>
          <div class="cat" routerLinkActive="active" [routerLink]="[ '/category', 'all' ]">Всі</div>

          <div *ngFor="let cat of adminCategories">
            <div class="cat" routerLinkActive="active" [routerLink]="[ '/category', cat.alias ]">{{cat.title}}</div>
            <div *ngIf="(category===cat.alias)">
              <div *ngFor="let subcat of adminSubCategories">
                <div *ngIf="subcat.parentId === cat.id" class="pcat" routerLinkActive="active"
                  [routerLink]="[ '/category', cat.alias,subcat.alias ]">{{subcat.title}}
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="price">
              <h2> Вартість:</h2>
              <div>({{price[0]}}₴-{{price[1]}}₴)</div>
              <npn-slider id="price" [minSelected]="minPrice()" [min]="minPrice()" [maxSelected]="maxPrice()"
                [max]="maxPrice()" (onChange)="onSliderChangePrice($event)" [step]="10" [showStepIndicator]="true">
              </npn-slider>
            </div>
          </div>

          <div class="form-group ">
            <div class="author">
              <h2>Автор</h2>
              <div>
                <select [(ngModel)]="author" id="author" name="author" class="form-control">
                  <option selected value="all">Всі</option>
                  <option *ngFor="let item of allAuthor" [value]="item.name">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="price">
              <h2> Рік:</h2>
              <div>({{year[0]}}-{{year[1]}})</div>
              <npn-slider id="year" [minSelected]="minYear()" [min]="minYear()" [maxSelected]="maxYear()"
                [max]="maxYear()" (onChange)="onSliderChangeYear($event)" [step]="1" [showStepIndicator]="true">
              </npn-slider>
            </div>
          </div>

          <div class="form-group ">
            <div class="binding">
              <h2>Обкладинка</h2>
              <div>
                <select [(ngModel)]="binding" id="binding" name="binding" class="form-control">
                  <option selected value="all">Всі</option>
                  <option *ngFor="let item of allBinding" [value]="item.title">{{item.title}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <div class="publishing">
              <h2>Видавництво</h2>
              <div>
                <select [(ngModel)]="publishing" id="publishing" name="publishing" class="form-control">
                  <option selected value="all">Всі</option>
                  <option *ngFor="let item of allPublishing" [value]="item.name">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="books">
    <div class="booksWrapper">
      <div class="item"
        *ngFor="let prod of products | filterCategory:category:subcat | filterPrice:price[0]:price[1] | filterAuthor:author | filterYear:year[0]:year[1] | filterBinding:binding | filterPublishing:publishing | paginate: { itemsPerPage: 20, currentPage: p }"
        routerLinkActive="active" [routerLink]="[ '/category',prod.catAlias,prod.subCatAlias,prod.alias,'infoBook' ]">
        <div *ngIf="prod.discount[0]" class="offers">{{prod.discount[0]}}</div>
        <img [src]=prod.img [alt]=prod.title [title]=prod.title>
        <div class="title">
          {{prod.title}}
        </div>
        <div class="price">
          {{prod.price}} грн
        </div>
      </div>

    </div>
    <pagination-controls class="my-pagination"  autoHide="true" (pageChange)="p = $event" previousLabel="Назад" nextLabel="Вперед">
    </pagination-controls>
    <!-- <div class="pagination">
      <div>1</div>
      <div>2</div>
      <div class="active">3</div>
      <div>4</div>
      <div>5</div>
    </div> -->
  </div>
</div>
