$font-SegoeUI: 'SegoeUI';
$font-SegoeWPBold: 'SegoeWPBold';
$font-SegoeWPSemiLight: 'SegoeWPSemiLight';
$font-HelveticaRegular: 'HelveticaRegular';
$color-green: #79b260;

.content {
  padding: 15px 0 25px 0;
  display: flex;
  justify-content: space-around;

  .filterBtn {
    padding: 5px 2px 2px 0px;
    display: none;
    width: 20px;
    height: 125px;
    background-color: $color-green;
    border: 1px solid $color-green;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 7px;
    text-align: center;
    font-weight: 400;
    font-family: $font-HelveticaRegular;
    cursor: pointer;
    transition: 1000;
  }

  .filter {
    width: 190px;
    min-height: 864px;
    border: 1px solid #d8dce0;
    border-radius: 5px;
    margin-right: 9px;

    .container-fluid {
      margin: 0;
      padding: 0;
    }

    .categories {
      h2 {
        padding: 3px 8px;
        color: #6b6969;
        font-family: $font-SegoeUI;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
      }

      .cat {
        width: 100%;
        padding: 1px 2px 1px 8px;
        color: #555454;
        font-size: 18px;
        line-height: 26.67px;
        font-family: $font-SegoeUI;
        font-weight: 600;
        cursor: pointer;
      }

      .cat:hover,
      .cat.active {
        color: white;
        background-color: $color-green;
      }

      .pcat {
        width: 100%;
        padding: 0 2px 0 12px;
        color: #555454;
        font-family: $font-SegoeUI;
        font-size: 15px;
        font-weight: 400;
        line-height: 26.67px;
        cursor: pointer;
      }

      .pcat:hover,
      .pcat.active {
        color: white;
        background-color: $color-green;
      }

    }

    .price,
    .author,
    .publishing,
    .binding {
      margin: 15px 0;
      padding: 3px 8px;
      font-family: $font-SegoeUI;
      color: #555454;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;

      h2 {

        color: #6b6969;
        font-family: $font-SegoeUI;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
      }

      div {
        padding: 4px 0;
        text-align: center;
        color: $color-green;
        font-size: 15px;
        line-height: 20px;
        font-weight: 300;
      }
    }
  }

  .books {
    width: 798px;
    min-height: 1118px;
    border: 1px solid #d8dce0;
    border-radius: 5px;
    position: relative;
  }

  .booksWrapper {

    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;

    .item:hover {
      cursor: pointer;

      img {
        padding: 0px;
        transition: 0.3s;
      }
    }

    .item {
      margin: 15px;
      width: 119px;
      text-align: center;
      color: #595959;
      font-family: $font-SegoeWPSemiLight;
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
      position: relative;

      .offers {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 50px;
        height: 50px;
        padding: 12px 0;
        color: #ffffff;
        font-family: $font-HelveticaRegular;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        background-image: url(../../../assets/images/offers.png);
      }

      img {
        padding: 5px;
        width: 119px;
        height: 172px;
      }

      .title {
        width: 119px;
        height: 32px;
        overflow: hidden;
      }

      .price {
        margin-top: 9px;
        color: #f05356;
        font-family: $font-HelveticaRegular;
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
      }
    }

  }

}

label {
  margin: 15px 0 15px 0;
  font-family: $font-SegoeUI;
  color: #555454;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .filter {
    display: none;
  }

  .filterBtn {
    display: block !important;
  }

}

// @media screen and (max-width: 400px) {
//   .price {
//     display: none;
//   }
// }
