<div class="content">
  <div class="slider">
    <!-- https://www.freakyjolly.com/angular-7-bootstrap-4-add-image-content-slider-carousel-using-ng-bootstrap-in-angular-7-applications/ -->
    <ngb-carousel *ngIf="images" showNavigationArrows="true" interval="2000" pauseOnHover="true">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div> 


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <!-- <a routerLinkActive="active" routerLink="bestSellers" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Хіт продаж</a> -->
      <a routerLinkActive="active" routerLink="newArrivals" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Новинки</a>
      <a routerLinkActive="active" routerLink="specialOffers" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Акційні пропозиції</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><router-outlet></router-outlet></div>
    <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><router-outlet></router-outlet></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><router-outlet></router-outlet></div> -->
  </div>
</div>
