<div class="content">
  <div class="slider">
    <!-- https://www.freakyjolly.com/angular-7-bootstrap-4-add-image-content-slider-carousel-using-ng-bootstrap-in-angular-7-applications/ -->
    
    <ngb-carousel *ngIf="images" showNavigationArrows="true" interval="4000" pauseOnHover="true">
      <ng-template ngbSlide *ngFor="let prod of products | filterTopNew:'3' let i=index">
        <img [src]="images[i]"  alt="Random first slide">
        <div class="imgbook"> <img [src]="prod.img" alt="Random third slide"></div>
        <div class="carousel-caption">
          <h3  [routerLink]="[ '/category',prod.catAlias,prod.subCatAlias,prod.alias,'infoBook' ]">{{prod.title}}</h3>
          <p  [routerLink]="[ '/category',prod.catAlias,prod.subCatAlias,prod.alias,'infoBook' ]">{{prod.description}}</p>
        </div>
       
      </ng-template>
      <!-- <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="imgbook"> <img src="https://firebasestorage.googleapis.com/v0/b/books-c37db.appspot.com/o/images%2F4hf88fy6f3y?alt=media&token=636b1fad-cc2f-4cb9-82d3-7728de345916" alt="Random third slide"></div>
        <div class="carousel-caption">
          <h3>Найнижчі ціни</h3>
          <p>У нас найнижчі ціни, а також велика кількість знижок</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="imgbook"> <img src="https://firebasestorage.googleapis.com/v0/b/books-c37db.appspot.com/o/images%2F4hf88fy6f3y?alt=media&token=636b1fad-cc2f-4cb9-82d3-7728de345916" alt="Random third slide"></div>
        <div class="carousel-caption">
          <h3>Швидко, якісно, доступно</h3>
          <p>Ми дбаємо, щоб ви отримали Найкраще.</p>
        </div>
      </ng-template> -->
    </ngb-carousel>
  </div> 
 

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <!-- <a routerLinkActive="active" routerLink="bestSellers" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Хіт продаж</a> -->
      <a routerLinkActive="active" routerLink="newArrivals" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Новинки</a>
      <a routerLinkActive="active" routerLink="specialOffers" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Акційні пропозиції</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><router-outlet></router-outlet></div>
    <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><router-outlet></router-outlet></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><router-outlet></router-outlet></div> -->
  </div>
</div>
