<div class="content">
  <h2>Мій акаунт</h2>
  <div class="login">
    <div *ngIf="photoURL"><img class="photo" width="100px" height="100px" [src]="photoURL" alt=""></div>
    <div *ngIf="userLogin">{{userLogin}}</div>
    <div>{{userEmail}}</div>
    <div class="form">
      <div>Ваше Імя</div>
      <input [(ngModel)]="userLogin" #pn="ngModel" name="userLogin" type="text" class="form-control" id="userLogin"
        placeholder="Ваше Імя..." required>
    </div>
    <div class="form">
      <div>Контактний номер телефону</div>
      <input [(ngModel)]="phone" prefix="+38" mask='(000) 000-0000' #pp="ngModel" name="phone" type="text"
        class="form-control" id="phone" placeholder="Контактний номер телефону..." required>
    </div>

    <div class="form">
      <div>Стать</div>
      <select [(ngModel)]="gender" required name="gender" #cc="ngModel" class="custom-select form-control" id="gender">
        <option *ngIf="gender ===''" selected value="">Оберіть стать</option>
        <option value="male">Чоловіча</option>
        <option value="female">Жіноча</option>
      </select>

    </div>


    <div class="form">
      <div>Дата народження</div>
      <div class="input-group">
        <input minDate="1900" class="form-control" placeholder="yyyy-mm-dd" name="date" id="birthday" [(ngModel)]="date"
          ngbDatepicker #d="ngbDatepicker">
        <div style="margin-top: 0px;" class="input-group-append">
          <button style="height: 38px;" class="btn btn-primary calendar" (click)="d.toggle()" type="button"><i
              class="fal fa-calendar-alt"></i></button>
        </div>
      </div>
    </div>

    <div class="form">
      <div>Ваш населений пункт</div>
      <input [(ngModel)]="city" #pp="ngModel" name="city" id="city" type="text" class="form-control"
        placeholder="Ваше місто..." required>
    </div>

    <div> <button type="button" (click)="myaccount()" class="btn btn-primary btn-block mt-2">Зберегти зміни</button>
    </div>
  </div>


  <div *ngFor="let order of products | sortByDate; let i=index">
    <div class="date">{{order.date.toDate() | date: 'dd-MM-yyyy H:mm'}}</div>
    <div class="table-responsive"> 
      <table *ngIf="!myOrder" class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Назва</th>
            <th scope="col">ПідКатегорія</th>
            <th scope="col">Автор</th>
            <th scope="col">Ціна</th>
            <th scope="col">Кількість</th>
            <th scope="col">Рік</th>
            <th scope="col">Видавництво</th>
            <th scope="col">image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of adminProducts | prodById:order; let id=index">

            <td class="href" [routerLink]="[ '/category',prod.catAlias,prod.subCatAlias,prod.alias,'infoBook' ]">
              {{prod.title}}</td>
            <td>{{prod.subCatTitle}}</td>
            <td>{{prod.author}}</td>
            <td>{{prod.price}}</td>
            <td>{{order.uorderCount[id]}}</td>
            <td>{{prod.year}}</td>
            <td>{{prod.publishingHouse}}</td>

            <td><img [src]="prod.img" width="50px;" height="70px" alt=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="price">Разом: {{order.totalPrice}}грн</div>
    <hr>
  </div>




</div>
