$font-SegoeWPSemiLight: 'SegoeWPSemiLight';
$font-HelveticaRegular: 'HelveticaRegular';
$color-green: #79b260;

.content {
  min-height: calc(100vh - 474px);
  margin-bottom: 25px;
  margin-top: 15px;
  border: 1px solid #d8dce0;
  border-radius: 5px;
  padding: 5px;

  h2 {
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    color: #0e0e0e;
    font-family: cursive;
    font-weight: 500;
    margin: 10px;
  }

  .href {
    cursor: pointer;
  }

  input[type=number] {
    width: 64px;
  }

  th {
    white-space: nowrap;
  }

  .price {
    text-align: right;
    font-size: 24px;
    color: rgb(231, 31, 31);
  }

  .date {
    font-size: 24px;
    color: rgb(77, 117, 204);
  }

  .login {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    border: 2px double $color-green;
    border-radius: 5px;
    font-size: 22px;
    line-height: 30px;
    background-color: #d6f5c9;
    margin-bottom: 10px;

    div {
      padding: 5px;
    }

    .photo {
      margin: 3px;
      border: 1px double grey;
      border-radius: 50%;
    }
  }
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.form {
  font-family: cursive;
  padding: 0 5px !important;
  margin: 0;
  text-align: left;
  font-size: 16px;
  div{
    padding: 0 5px !important;
  }
}

.input-group{
  padding: 0 5px;
}
