h1 {
  text-align: center;
  font-size: 55px;
  line-height: 65px;
  color: #0e0e0e;
  font-family: cursive;
  font-weight: 500;
  margin: 10px;
}

[st-multi-sort] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid rgb(250, 155, 155);
}

.catWarning {
  margin-top: -15px;
}

.multiselect-dropdown[_ngcontent-thh-c7], .dropdown-btn[_ngcontent-thh-c7],.dropdown-btn {
  color: #ced4da !important;
  border: 1px solid red !important;
  border-color: blue !important;
}
