<div class="content">
  <h2>Скинути пароль</h2>
  <div class="login">
    <div class="form-group">
      <label for="res">Будь ласка введіть Email для якого скинути пароль.</label>
      <input type="email" id="res" class="form-control" placeholder="Email" #passwordResetEmail required>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="form-group">
      <input type="submit" class="btn btn-warning btn-block" value="Скинути пароль"
        (click)="authService.ForgotPassword(passwordResetEmail.value)">
    </div>

    <div class="form-group">
      <span>Перейти до ? <span class="redirect" [routerLink]="['/login']">Авторизації</span></span>
    </div>
  </div>
</div>
